/* This file is part of a copyrighted work; it is distributed with NO WARRANTY.
 * See the file COPYRIGHT.html for more details.
 */
 
/* This file builds upon the structures defined within ../shared/base.css */

body {
	background: #90b0b8;
	padding: 10px;
	margin: 0;
	font: 16px serif;
	}
	
/*************************************************/
div#header  {
	background: #a0c0c8; /*for development*/
	color: white;
	}
#header #headLogo {
	position: absolute; top: 0; left: 0;
	}
#header h1.staff_head {
	display: block;
	text-align: right;
	font: bold 16px serif;
	color: white;
	margin: 0;
	}
#banner {
	text-align: center; margin-bottom: 16px;
	}
#library_name {
	margin-left: 160px;
	font: 28px sans-serif;
	color: white;
	}
#library_hours {
	margin-left: 160px;
	font: 12px sans-serif;
	}
#library_phone {
	margin-left: 160px;
	font: 12px sans-serif;
	}

/*************************************************/
div#sidebar {
	background: #a0c0c8; /*for development*/
	vertical-align: top;
	width: 162px;
	border: solid black 2px;
	}
#sidebar #logo {
	width: 150px;
	float: left;
	}
#sidebar_login {
	text-align: center;
	font: 12px sans-serif;
	}
#sidebar .login_id {
	margin-bottom: 1em;
	}
#sidebar_login .login_id input {
	width: 100px;
	border: solid black 2px;
	font: 12px serif;
	}
#sidebar .password {
	margin-bottom: 1em;
	}
#sidebar_login .password input {
	width: 100px;
	border: solid black 2px;
	font: 12px serif;
	}
/*
#sidebar fieldset {
	width 100%; border: solid black 2px;
	}
*/

/* Using list-style-image because IE has an odd circle list-style-type. */
ul.nav_main {
	width: 130px;
	margin-top: 0; margin-left: 0; padding-left: 0;
	list-style-type: none;
	}
ul.nav_main li {
	margin-bottom: 1.1em;
	white-space: nowrap;
	}
ul.nav_main > li.nav_selected {
	border-left: solid black 1px;
	border-top: solid black 1px;
	border-right: solid grey 1px;
	border-bottom: solid grey 1px;
	/*border-right: none;*/
	margin-right: -28px;
	margin-left: -4px;
	background: white;
	padding: 2px;
	position: relative;
	}
ul.nav_sub {
	width: 120px; /*flos change  */
	margin-left: 0; padding-left: 2em;
	list-style-type: circle; list-style-image: url("../images/bulleto.png");
	}
ul.nav_sub ul.nav_sub {
	padding-left: 1em
	}
ul.nav_sub li {
	margin-bottom: 0;
	font-weight: normal;
	}
ul.nav_sub li.nav_selected {
	font-weight: bold;
	list-style-type: disc; list-style-image: url("../images/bulletc.png");
	}

/*************************************************/
div#footer {
/*	margin-left: 160px;*/
	margin-top: 10px;
	text-align: center;
	font: 12px serif;
}

/*************************************************/
div#content {
	vertical-align: top;
	border: solid black 2px;
	background: white;
	padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
	}
#content .altBG {
	background: #dddddd;
	}
#catalog_search h3 {
	font: 20px sans-serif;
	text-align: center;
	color: white;
	background: #ccb470;
	border: solid black 2px;
	}
.title {
	font: 20px sans-serif;
	text-align: center;
	color: white;
	background: #ccb470;
	border: solid black 2px;
	}
.results_found {
	font: 12px serif;
	text-align: right;
	margin: 0.5em 0;
}
.results_pages {
	font: 12px serif;
	text-align: right;
	float: right;
	}
.search_terms {
	font-size: 12px;
	font-weight: bold;
	margin: 0.5em 0;
	}
.results_list {
	margin-top: 10px;
	padding: 10px 5px;
	border-top: solid #90b0b8 4px;
	}
.search_result {
	border: solid #90b0b8 4px;
	padding: 3px;
	margin: 5px;
	width: 100%;
	}
.search_result td {
	vertical-align: top
	}
.cover_image {
	width: 75px
	}
.cover_image img {
	border: solid black 2px; width: 75px;
	}
.call_media {
	font: 16px sans-serif;
	width: 40px;
	padding: 0 16px;
	}
.compact_info_display table.header {
	border: none;
	padding: 0;
	margin: 0;
	}
.compact_info_display th.title {
	background: none;
	border: none;
	font: 16px serif regular;
	text-align: left;
	}
.compact_info_display ul {
	margin: 0; padding: 0;
	list-style-type: none;
	}
.compact_info_display li {
	font: 14px serif;
	margin-left: 2em;
	text-indent: -2em;
	}
.compact_info_display .heading {
	font-weight: bold;
	}
.search_result .right_info {
	width: 125px;
	text-align: center; vertical-align: middle
	}
.search_result .available {
	margin-top: 12px;
	font: 14px serif;
}
sup {
	color: red;
	}
input.button {
	background: #b2dae4;
	border: solid black 2px;
	padding: 2px;
	width: auto;
	text-decoration: none;
	font: 12px serif;
	color: black;
}
input.button:hover {
	text-decoration: underline;
}
a {
	color: blue
	}
a:visited {
	color: blue
	}
a.button {
	background: #b2dae4;
	border: solid black 2px;
	padding: 3px;
	text-decoration: none;
	font: 12px serif;
	color: black;
}
a.button:visited {
	color: black
	}
a.button:hover {
	text-decoration: underline;
}
table.sigh {
	width: 100%;
	}
table.sigh .spacer {
	width: 5px;
	}

/* flos additions */
span.highLite {
  color: #FF8A00;
	}