/* CSS Document */
/* This file is part of a copyrighted work; it is distributed with NO WARRANTY.
 * See the file COPYRIGHT.html for more details.
 */

body {
  font-size: 62.5%; line-height: 1.5em
  font-family: "Segoe UI", Arial, serif;
  color: #000000; background: #a0c0c8;
  font-size:1.0em;
	padding: 0; margin: 0;
	}

/* required for IE prior to IE9, else CSS will not apply */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
	} 
	
/*************************************************/
aside {
	position: fixed; top:0; left: .5em;
	padding: 10px;
	}
	
/*************************************************/
footer {
	margin-top: 1em;
	padding-top:0.33em;
	width: 100%;
	}

/*************************************************/
div#content {
	position: absolute; top:0; left: 12.5em;
	padding:0;
	}
