/* This file is part of a copyrighted work; it is distributed with NO WARRANTY.
 * See the file COPYRIGHT.html for more details.
 */
 
/* This file builds upon the structures defined within ../shared/base.css */

body {
  /*font-size: 45%; line-height: 1.25em;*/
  font-family: verdana,arial,helvetica, serif;
  color: #000000; background: #90b0b8;
  font-size:100%; /*0.9em;*/
	}

/*************************************************/
/*  Basic components, may be used anywhere       */

/* rounded corners for various elements */
h1,h2,h3,h4,h5,h6, fieldset, img, aside, header {
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 	 0.3em;
	border-radius:				 0.3em;
}

/* headers */
h1,h2,h3,h4,h5,h6 {
	font: 0.5em sans-serif; text-align: center;
	color: white; background: #ccb470;
	border: solid black 2px;
	margin: 2px;
	background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.6),hsla(0,0%,100%,0));
	background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.6),hsla(0,0%,100%,0));
	background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.6),hsla(0,0%,100%,0));
	background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.6),hsla(0,0%,100%,0));
	background-image: 				linear-gradient(top, hsla(0,0%,100%,.6),hsla(0,0%,100%,0));
	}
h1 { font-size: 1.5em; }	/* 24/16 */
h2 { font-size: 1.0em; }	/* 16/16 */
h3 { font-size: 0.87em; color: white;}	/* 14/16 */
h4 { font-size: 0.75em; margin: 2px; }	/* 12/16 */
h5 { font-size: 0.63em; color: black; }	/* 10/16 */
h6 { font-size: 0.5em; }	/* 8/16 */

sup, span.reqd, #reqdNote { color: red; text-align:center; }
p { margin:2px; padding:0; }
hr {
	display: block; position: relative; 
	padding: 0; margin: 8px auto;
	clear: both; width: 90%;
	border: none; border-top: 1px solid #AAA; border-bottom: 1px solid #000;
	font-size: 1px; line-height: 0;
	overflow: visible;
	}
figure { border: 1px solid gray; }
legend { font-size: 0.87em; font-weight: bold; margin: 0 10px 0 10px; padding: 0 5px 0 5px; }
fieldset { background-color: #ffffdd; border: 1px solid gray; margin: 2px; padding-bottom: 2px; }

/* tables & parts of */
table { margin: 2px; }
td,th { padding: 0 5px 0 5px; vertical-align: top;}
td.number { text-align: right; }
td.center { text-align: center; }
td.label { text-align: left; white-space: nowrap; }
label, .lblFld { font-size: 0.75em; font-weight: bold; margin-left: 2px;}

/* form input fields */
input, select, textarea { margin: 2px; }
input:not([type=button]):not([type=select]):not([attr=readonly]):focus,
select:focus, 
textarea:focus {
	/* place blue shadow on all input fields */
	-webkit-box-shadow: 0 0 12px rgba(51,204,255, 0.5);-moz-box-shadow: 0 0 12px rgba(51,204,255, 0.5);
	box-shadow: 0 0 12px rgba(51,204,255, 0.5);	
	}
input[readonly] { border: 0; background-color: #ffffdd; }
input[required]::after { content:"*"; color: red; }
input[type=checkbox] { padding-left: 5px; }

/* lozenge shape buttons - from "CSS3 for Web Designers", Jeffrey Zeldman " */
input[type=button], input[type=submit] {
	padding: 2px 4px;
	font-family: Helvitca, Arial, sans-serif; font-weight: bold; font-size: 12px;
	line-height: 1;
	color: #444; border: none; 
	background-image: -webkit-linear-gradient(top, #fff, #bbb);
	background-image: -moz-linear-gradient(top, #fff, #bbb);
	background-image: -ms-linear-gradient(top, #fff, #bbb);
	background-image: -o-linear-gradient(top, #fff, #bbb);
	background-image: linear-gradient(top, #fff, #bbb);
	background-color: rgb(240,240,240);
	-webkit-border-radius: 23px; -moz-border-radius: 23px; -o-border-radius: 23px;
	border-radius: 23px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	}
	
/*************************************************/
aside {
	position:fixed; top:1%; left:1%;
	float:left; width:15%; 
	margin:0; /*margin-top:0.3em;*/
	padding-bottom:0.2em;
	height:auto;
	font-size:0.87em; /* 14/16 */
	color:black; border:0.15em solid black;
	-moz-box-shadow:0.2em 0.4em 0.6em -0.2em #000;
	-webkit-box-shadow:0.2em 0.4em 0.6em -0.2em #000;
	box-shadow: 0.2em 0.4em 0.6em -0.2em #000;
	}
img#logo { padding: 3px; border: 2px solid #ddd; width:90%; }
aside input[type=submit] { position: relative; left:30%; }

/*************************************************/
h1.staff_head {
	display: block;
	text-align: right;
	font: bold 1.0em serif; /* 16/16 */
	color: white;
	margin: 0;
	}
#library_name, 
#library_hours, 
#library_phone { margin: 2px 5px 2px 5px; font: 0.82em sans-serif; }
#library_name { color: white; }

/*************************************************/
ul.nav_main {
	max-width: 100%;
	margin-top: 0; margin-left: 0; padding-left: 0.5em;
	list-style-type: none;
	}
ul.nav_main li {
	margin-bottom: 1.1em;
	white-space: nowrap;
	margin-left: 2px;
	}
ul.nav_main > li.nav_selected {
	max-width: 93%;
	border-left: solid black 1px;
	border-top: solid black 1px;
	border-right: solid grey 1px;
	border-bottom: solid grey 1px;
	margin-right: -28px;
	margin-left: -0px;
	background: white;
	padding: 2px;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}
ul.nav_sub {
	width: 120px; /*FL change  */
	margin-left: 0; padding-left: 1em;
	list-style-type: circle; 
	}
ul.nav_sub ul.nav_sub { padding-left: 1em }
ul.nav_sub li { margin-bottom: 0; font-weight: normal; }
ul.nav_sub li.nav_selected { font-weight: bold; list-style-type: disc; }
	
nav a { color: blue; }
nav a:visited { color: blue; }
nav a.button {
	background: #b2dae4;
	border: solid black 2px;
	padding: 3px;
	text-decoration: none;
	font: 0.75em serif; /* 12/16 */
	color: black;
}
nav a.button:visited { color: black; }
nav a.button:hover { text-decoration: underline; }

/*************************************************/
footer { margin-top:10px; text-align:center; font: 0.75em serif;/* 12/16 */ }

/*************************************************/
div#content {
	position: absolute; top:1%; left: 17.5%;
	vertical-align: top;
	border: solid black 2px;
	background: white;
	padding: 2px 2px 2px 2px;
	/*width: auto;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 3px 6px 8px -4px #000;
	-webkit-box-shadow: 3px 6px 8px -4px #000;
	box-shadow: 3px 6px 8px -4px #000;
	}
#content .altBG { background: #dddddd; }
table#copyList td, table#copyList th, table#biblioTbl td, table#biblioTbl th  {
	border-width: 1px; padding: 2px; border-style: solid; border-color: black; }
ul#editTbl { margin-left:0; padding-left:0; }
ul#editTbl li { list-style-type:none; 	margin:0; padding:0; }

ul#btnRow, ul.btnRow { margin-left:0; padding-left:0; text-align: left; }
ul#btnRow li, ul.btnRow li { display: inline; margin-right: 1em; }
ul#btnRow li input[value="Delete"], 
ul.btnRow li input[value="Delete This Item"],
ul.btnRow li input[value="Delete"] { float: right; margin-right: 0; }

fieldset.inlineFldSet { float: left; width:auto; border:0; margin-right:0.5em; padding:0; }
fieldset.inlineFldSet label { display:block; }
fieldset#vertSep { width:0px; height:3em; margin-right:0.5em; padding:0; border: 1px solid gray}

/* search results displays */
.note { font-size: 0.7em; }
.title {
	font: 1.25em sans-serif; /* 20/16 */
	text-align: center;
	color: white;
	background: #ccb470;
	border: solid black 2px;
	margin-bottom: 5px;
	}
.results_found {
	font: 0.75em serif; /* 12/16 */
	text-align: right;
	margin: 0.5em 0;
	}
.results_pages {
	font: 0.75em serif; /* 12/16 */
	text-align: right;
	float: right;
	}
.search_terms {
	font-size: 0.75em; /* 12/16 */
	font-weight: bold;
	margin: 0.5em 0;
	}
.results_list {
	margin-top: 10px;
	padding: 10px 5px;
	border-top: solid #90b0b8 4px;
	}
.search_result {
	border: solid #90b0b8 4px;
	padding: 3px;
	margin: 5px;
	width: 100%;
	}
.search_result td { vertical-align: top; }

.cover_image { width: 75px; }
.cover_image img { border: solid black 2px; width: 75px; }
.biblioImage { float: left; border: 1px solid green; height: 50px; width: 40px; padding:0; }
.biblioImage.hover:hover { top:30px; left:200px;
	-webkit-transform: 	scale(5.0);
	-moz-transform: 		scale(5.0); -moz-transform-origin: top right;
	-o-transform: 			scale(5.0);
	transform: 					scale(5.0);
	}
#bibBlks, fotoBlks { position:relative; top:0px; left:0px; width:auto; }
#bibBlkA, fotoBlkA { display:inline-block; float:left; }
#bibBlkB, fotoBlkB { display: inline-block; float: right; }
#biblioFoto, #foto { width:100px; height:125px; padding:0; margin-right:10px; border:1px solid green }
#biblioFoto.hover:hover { 
	top: 20px;
	-webkit-transform: 	scale(3.0);
	-moz-transform: 		scale(3.0); -moz-transform-origin: top right;
	-o-transform: 			scale(3.0);
	transform: 					scale(3.0);
}
#flagInfo ul { text-align: center; margin:0; padding:0; }
#flagInfo li { display: inline; margin: 0; padding: 0 5px 0 5px; }
.flgDot {
	-webkit-transform: scale(0.75);
	-moz-transform: 	 scale(0.75);
	transform: 				 scale(0.60);
	vertical-align: bottom;
	}
/* end of search results display */

#onlineMsg { color: blue; }
.call_media {
	font: 1.0em sans-serif; /* 16/16 */
	width: 40px;
	padding: 0 16px;
	}
.compact_info_display table.header {
	border: none;
	padding: 0;
	margin: 0;
	}
.compact_info_display th.title {
	background: none;
	border: none;
	font: 1.0em serif regular;	/* 16/16 */
	text-align: left;
	}
.compact_info_display th.author {
	background: none;
	border: none;
	font: 1.0em serif regular;	/* 16/16 */
	text-align: left;
	}
.compact_info_display ul {
	margin: 0; padding: 0;
	list-style-type: none;
	}
.compact_info_display li {
	font: 0.87em serif;	/* 14/16 */
	margin-left: 2em;
	text-indent: -2em;
	}
.compact_info_display .heading {
	font-weight: bold;
	}
.hilite {
	color: white; background-color: green;
	}
.search_result .right_info {
	width: 125px;
	text-align: center; vertical-align: middle
	}
.search_result .available {
	margin-top: 12px;
	font: 0.87em serif;	/* 14/16 */
}

/*************************************************/
div#msgDiv {
	color: red;
	}
		
table.sigh {
	width: 100%;
	}
table.sigh .spacer {
	width: 5px;
	}

span.highLite {
  color: #FF8A00;
	}
span.error {
	color: red;
	}
p.error {
	color: red;
	}
input.error {
	color: red;
	}
label.error {
	color: red;
	}
tr.searchRow {
	height: 35px;
	}
	
/*************************************************/
/* for draggable configuration screens */
div#configDiv{
	width: auto;
	}
#configDiv fieldset#existingSpace {
	display: inline;
	float: left;
	}
#configDiv fieldset#potentialSpace {
	display: inline;
  float: right;
	}
#configDiv fieldset#potentialSpace select {
	margin-bottom: 10px;
	}
#configDiv ul#existing,ul#potential {
	list-style-type: none;
	margin: 0; padding: 0; margin-right: 5px;
	}
#configDiv ul#existing li,ul#potential li {
	margin-bottom: 2px;
	font-size: 1.2em;	/* 20/16 */
	}
#configDiv ul#existing li {
	color: black; background: #FFFF99;
	}
#configDiv ul#potential li {
	color: black; background: #CCFFFF;
	}
#typeChoice fieldset {
	margin: 0; padding: 5px;
	text-align: center;
	}
