/** Theme style settings
 *	This file should contain all color and fonts to be declared here
 *	It will override anything in style.css and may be user modified.
 *
 *  initial setup by f.LaPLante 26 May 2017
 */

html { font-size: calc(0.5*(1em + 1vw)); } /* adjust font to size of user's screen */

body {
    font-family:verdana,arial,helvetica, serif;
    color:#000000; background:#90b0b8;
}

.note { color:gray; }
.error { color:red; /*!important;*/ }
.warning { color:orange; /*!important;*/ }
.hiWarning {color:white; background:orange; }
.info { color: green }
.italic { color:lightblue; }

/* headers */
h1,h2,h3,h4,h5,h6 {
	font:1rem sans-serif; text-align:center;
	color:white; background:#ccb470;
}
.reqd, sup, span.reqd, #reqdNote { color:red; }
h5#reqdNote { background:#EFDB8A;}

fieldset { background-color:#ffffdd; }
tbody.striped tr:nth-child(odd) { background-color:#EEE; }
tbody.striped tr:nth-child(even) { background-color:#CCC; }

:: placeholder, .placeholder { color:#000; }

/* lozenge shape buttons - from "CSS3 for Web Designers", Jeffrey Zeldman " */
/* to revert to normal OS button style, remove this block */
input[type=button], input[type=submit], button {
	padding:2px 4px;
	font-family:Helvitca, Arial, sans-serif; font-weight:bold;
	line-height:1;
	color:#222; background-color:rgb(240,240,240); border:none;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.85);
	/*background-image:-moz-linear-gradient(to top, #fff, #bbb);*/
	/*background-image:-o-linear-gradient(to top, #fff, #bbb);*/
	background-image:linear-gradient(to top, #fff, #bbb);
	border-radius:23px;
	box-shadow:0 1px 2px rgba(0,0,0,0.5);
	}

input:focus { background:rgb(230,255,255); }
input:disabled,
button:disabled { background:#dddddd; color:#888888; }

ui-datepicker { background:green }

/*************************************************/
aside { color:black; background:#90b0b8; }

h1.theHead { color:white; }
#library_name { color:black; }

ul.nav_main > li.nav_selected { background:white; }
nav a { color:blue; }
nav a:visited { color:blue; }
nav a.button { font:0.75em serif; /* 12/16 */ color:black; background:#b2dae4; }
nav a.button:visited { color:black; }

/*************************************************/
#content { background:white; }
#content .altBG { background:#dddddd; }

#tabs ul { background:#90b0b8; }
#tabs li a { background:#ccc; color:#333; }
#tabs ul.controls li.active a { color:blue; background-color:#ffffdd; }

.title { font:1.25rem sans-serif; /* 20/16 */ color:white; background:#ccb470; }

#onlineMsg { color:blue; }
.call_media { font:1.0em sans-serif; /* 16/16 */ }
.compact_info_display th.title { font:1.0em serif regular;	/* 16/16 */ }
.compact_info_display th.author { font:1.0em serif regular;	/* 16/16 */ }
.compact_info_display li { font:0.87em serif;	/* 14/16 */ }
.hilite { color:white; background-color:green; }
.search_result .available { font:0.87em serif;	/* 14/16 */ }

/*************************************************/
span.highLite { color:#FF8A00; }

#configDiv ul#existing li { color:black; background:#FFFF99; }
#configDiv ul#potential li { color:black; background:#CCFFFF; }

#skiptocontent a { color:white; }

@media screen and (min-width:800px) {
	h3.theHead { font:bold 1.0em serif; /* 16/16 */ color:white;}
}
